Source: vestige-desktop-python2
Package: vestige-desktop-python2
Version: 1.0.1
Architecture: all
Section: java
Priority: optional
Maintainer: Gael Lalire <vestige@gaellalire.fr>
Description: Java Application Manager
Homepage: http://gaellalire.fr/vestige
Installed-Size: 15360
Depends: vestige (>= 8.0.0), python-gtk2 (>= 2.6), python-nss, python-appindicator, python-dbus
Conflicts: vestige-desktop-python3
